:root{
    --main-Color:#F9D96E;
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
    padding: 0%;
}



/**************************************************************************/
/************************* Start Container ********************************/
/**************************************************************************/

.container-Grid{

    display: grid;
    /* grid-gap: 10px; */
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
    "NavBar NavBar"
    "SidBar Main"
    "SidBar Main"
    "SidBar Section"
    "Commander Commander"
    "Footer Footer"
    ;
}


/*************************************Start Command */

.Commander{
    grid-area: Commander;
    width: 100%;
    height: 100vh;
}
.Commander .titel-commande{
    border-bottom: 2px solid var(--main-Color);
    text-align: center;
    margin: 10px auto 40px;
    width: -moz-fit-content;
    width: fit-content;
}
.Commander .command-body{
    width: 90%;
    margin: 10px auto;
    display: flex;
}
.command-body .form-command{
    width: 60%;
    padding: 20px;
}

.command-body .form-command .form-control{
    border: 2px solid var(--main-Color) !important;
    outline: none;
}
.command-body .form-command .form-control:focus{
    border: 2px solid var(--main-Color) !important;
    box-shadow: 0 0 6px 1px var(--main-Color);
    outline: none;
}
.command-body .form-command .input-group-text{
    background: var(--main-Color);
    color: black;
    font-weight: 600;
    border: 1px solid var(--main-Color);
}
.btn-primary{
    transition: all .5s;
    color: black !important;
}
.btn-primary:hover{
    background-color: var(--main-Color);
    color: black;
    border: 1px solid var(--main-Color);
}

.command-body .your-command{
    width: 40%;
    display: flex;
    flex-direction: column;
    
}
.command-body .your-command .content-details{
    background-color: blue;
}
.command-body .your-command .content-details img {
    width: 90px;
}
.body-details-command{
    display: flex;
    flex-direction: column;
    background-color: #eee;
    max-height:365px ;
    overflow: auto;
}
.details-command{
    display: flex;
    margin: 10px;
    border-bottom: 1px solid #ddd;
}
.details-command img{
    width: 90px;
    margin: 0 18px 9px 0;
}
.total-pric-command{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/*************************************End  Commmand */

/*************************************Start Card product */
.Card{
    box-shadow: 0px 0px 40px -15px #eee;
    width: 90%;
    height: auto;
    margin: 20px auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.Card-images{
    width: 53%;
    height: 568px;

}
.Card-images .Big-img{
    width: 100%;
}
.Card-images .small-imgs img{
    width: 90px;
    height: 90px;
}
.Card-body{
    width: 47%;
    display: flex;
    flex-direction: column;
    
}
.Card-body h2{
    height: auto;
    padding: 12px;
    border-bottom: 1px solid #eee;
}
.Card-body span{
    padding-left: 20px;
    display: inline-block;
}
.Card-body .ref{
    color: rgb(172, 167, 167);
}
.Card-body .Prices{
    display: flex;
    justify-content: space-around;
}
.Card-body .Prices span:nth-child(1){
    font-weight:bold; 
    font-size:22px;
    color: var(--main-Color);
}
.Card-body .Prices span:nth-child(2){
    text-decoration-line: line-through;

    font-size:14px;
    color: var(--main-Color);
}
.Card-body .controls-qeuntity{
    flex-basis: 200px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.Card-body .contactes{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}
.Card-body .contactes .wtsp{
    font-size: 30px;
    margin: 5px;
    cursor: pointer;
}
.Card-body .contactes .wtsp:hover{
    color: #25D366;
}
.Card-body .contactes .fb{
    font-size: 30px;
    margin: 5px;
    cursor: pointer;
}
.Card-body .contactes .fb:hover{
    color: #3b5998;
}
.Card-body .contactes .insta{
    font-size: 30px;
    margin: 5px;
    cursor: pointer;
}
.Card-body .contactes .insta:hover{
    color: #c13584;
}.Section

.controls-qeuntity .btn-buy{
    background-color: var(--main-Color);
    padding: 10px 20px;
    border-radius: 12px;
    border: 1px solid var(--main-Color);
    font-weight: 600;
    transition: all .5s;
}
.controls-qeuntity .btn-buy:hover {
    background-color: transparent;
}
.controls-qeuntity input[type="number"]{
    border-radius: 12px;
    padding: 5px 10px;
    border: 1px solid var(--main-Color);
}

.description .titel-description{
    text-align: center;
    padding: 15px;
    margin: 227px auto 0px;
    width: -moz-fit-content;
    width: fit-content;
    border-bottom: 2px solid var(--main-Color);
}
.description-body div,.description-body p{
    padding: 26px 0 26px 8px;
    border: 1px solid #ddd;
    border-radius: 9px;
    width: 94%;
    margin: 10px auto;
}
.description-body .sp-descrip-categ, .sp-descrip-marque{
    font-weight: 700;
    color: #686c6f;
}
.controls-qeuntity .btn-buy .fa-shopping-basket{
    font-size: 18px;
    margin-right: 7px;
}
/*************************************End Card product */


/*************************************Start model bootstrap */
.content-model-product{
    width: 100%;
    height: 90px;
    border-bottom: 1px #bbb solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 20px;

}
.content-model-product img{
    margin-right: 12px; 
    height:100%; 
    width: 90px;
}
.header-details{
    background-color: var(--main-Color);
    padding: 13px;
    text-align: center;
    border-radius: 6px 6px 0 0;
}
.body-details{
    height: 48px;
    background-color: #eeeeee8c;
    margin-bottom: 15px;
    margin-top: -8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.input-qeuntity{
    width: 30px;
    border: 1px solid #eee;
    margin: 0 4px;
}
.plus-minus{
    display: flex;
    align-items: center;
}
.plus-minus .fas{
    font-size: 15px;
    background-color: var(--main-Color);
    padding: 5px;
    border-radius: 50%;
}
.plus-minus .fas{
    color: #000;
}
.icon-delete{
    position: absolute;
    top: 0;
    right: 0px;
    cursor: pointer;
}
.btn-fermer{
    background-color: transparent !important;
    color: var(--main-Color) !important;
    border: none !important;
}
.btn-commander{
    color: #000 !important;
    background-color: var(--main-Color) !important;
}
.btn-commander:hover{
    background-color: transparent;
}
.delete_All{
    display: inline-block;
    text-decoration: navajowhite;
    margin: 0px auto;
    width: 100%;
    background: #fb5656;
    text-align: center;
    color: #000;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #fb5656;
    transition: all .5s;
}
.delete_All:hover{
    color: #fb5656;
    border: 1px solid #fb5656;
    background-color: transparent;
}
/*********************************End model bootstrap*/
/************************* Start NavBar */

.NavBar{
    grid-area: NavBar;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "brand List-Navbar";
    align-items: center;
    justify-content: space-between;
}
.NavBar .brand{
    height: 100%;
    grid-area: brand;
}
.btn{
    background: none;
    letter-spacing: 1px;
    padding: 8px 18px;
    font-weight: bold;
    border:1px solid var(--main-Color);
    color: var(--main-Color);
    position: relative;
    overflow: hidden;
    height: 47px;
    transition: all 0.5s;
}

.btn-nav-lovely-add{
    background-color: transparent !important;
    border: none !important;
}
.btn:hover{
    color: #000;
}
.btn::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: var(--main-Color);
    z-index: -1;
    border-radius: 0 0 50% 50%;
    transition: all 0.5s;
}
.btn:hover::before{
    height: 100%;
}
.txt-search{
    border:1px solid var(--main-Color);
    padding: 15px 18px;

    width: 400px;
}
.NavBar .brand span{
    height: 45px;
    display: block;
    line-height: 45px;
    font-size: 30px;
    font-weight: bold;
    margin: 23px 30px;
    cursor: pointer;
}
.List-Navbar{
    grid-area: List-Navbar;
}
.List-Navbar ul{
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

}
.List-Navbar ul li{
    display: inline-block;
    margin: 23px 18px;
    position: relative;
}
.List-Navbar ul li a{
    color: black;
}
.List-Navbar ul li .badge{
    position: absolute;
    top: -38%;
    left: 19px;
    background-color: #f00 !important;
}
.fas{
    font-size: 29px;
    transition: color .5s;
    cursor: pointer;
}
.fas:hover{
    color: var(--main-Color);
}
/************************* End NavBar */



/************************* Start SidBar */
.SidBar{
    grid-area: SidBar;
    height: 500px;
    width: 290px;
}

.SidBar img{
    width: 100%;
    max-height: 560px;
    margin: 20px auto;
    padding: 10px;
    cursor: pointer;
}
.SidBar h5{
    background-color: var(--main-Color);
    padding: 13px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: auto;
}
.SidBar ul {
    margin: 16px 0 16px 8px;
}
.SidBar ul li{
    width: 100%;
    margin: 4px;
    padding: 4px;
    height: 100%;
    transition: all 0.5s;
    border-bottom: 1px solid #eee;
}
.SidBar ul li:hover{
    transform: scale(1.1,1.1);
}
.SidBar ul li a{
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    display: inline-block;
    font-size: 20px;
}
.SidBar ul li a:hover{
    color: #aaa;

}

/************************* End SidBar */



/************************* Start Main */

.Main{
    grid-area: Main;
    /* display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    justify-content: center;
    grid-gap: 8px;
    grid-row-gap: 20px; */
    min-height: 110vh;
    width: 100%;
    margin: 0 auto;
}
.rows{
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-flow: wrap;
    width: 100%;
    margin-top: 14px;
}
.produit{
    border: 1px solid #e4e4e4;
    height: 388px;
    border-radius: 5px;
    position: relative;
    width: 19%;
    cursor: pointer;
    transition: all .5s;
    margin:0 5px 10px 5px ;
}
.produit:hover{
    box-shadow: 0px 0px 40px -10px rgba(0, 0 0,0.25);
    transform: scale(1.05);
}
.produit .img-produit{
    height: 173px;
    width: 100%;
    border-radius: 5px 5px 0 0;
}


.icon-heart,.icon-add-produit{
    background-color: var(--main-Color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
}
.icon-heart:hover,.icon-add-produit:hover{
    background-color: #f7ca388e;
    transform: scale(1.1,1.1);
}
.icon-heart{
    position: absolute;
    top: 44%;
    right: 49px;
}
.icon-add-produit{
    position: absolute;
    top: 44%;
    right: 5px;
}
.icon-heart img, .icon-add-produit img{
    width: 21px;
    height: 21px;
    margin: 10px;
}
.title-produit a{
    font-size: 16px;
    margin-top: 22px;
    text-decoration: none;
    color: black;
    min-height: 66px;
    width: 100%;
    padding: 0 5px;
}
.starts-icon{  
    padding: 0 5px;
}
.starts-icon >i{
    font-size: 15px;
    color: var(--main-Color);
}

.produit .price span{
    text-align: center;
    display: block;
    width: 100%;
    margin: 0 auto;
    color: var(--main-Color);
}
.produit .price .new-price{
    font-size: 25px;
    font-weight: bold;
    max-width: 100%;
    position: relative;
    background-color: #fff;

}
.produit .price .new-price::before{
    content: "";
    display: block;
    width: 50px;
    height: .5px;
    position: absolute;
    background-color: #ffc400;
    top: 50%;
    left: 12%;
}
.produit .price .new-price::after{
    content: "";
    display: block;
    width: 50px;
    height: .5px;
    position: absolute;
    background-color: #ffc400;
    top: 50%;
    right:12%;
}
.old-price{
    text-decoration-line: line-through;
    font-size: 17px;
}
.Main .h3-marque{
    display: block;
}
.active{

    background-color: var(--main-Color);
    color: black;
    cursor: pointer;
}

.pagin-a{
    text-decoration: none;
    color: black;
    font-variant: small-caps;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    padding: 12px;
}
.pagin-a:hover{
    color: var(--main-Color);
    font-weight: bold;
    cursor: pointer;
}
.pagina{

    color: black;
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin: 20px auto;
    align-items: center;
    font-size: 20px;
    border: 2px solid #eee;
    border-radius: 20px;
}
.nbr-page{
    font-size: 19px;
    border-bottom: 1px solid #eee;
    width: 98%;
    margin-bottom: 14px;
    padding-bottom: 5px;
    color: #d0cbcb;
    display: inline;
}
/************************* End Main */

/************************* Start Section */
.Section{
    grid-area: Section;
    min-height: 241px;
    height: auto;
    max-width: 1270px;
    margin: 50px -6px;
}

.Section .h3-categ{
    text-align: center;
    color: #7d7a7a;
    position: relative;
    text-transform: uppercase;
    margin: 50px 0 30px 0;
}
.Section .h3-categ::before{
    content: '';
    height: 1px;
    width: 80%;
    position: absolute;
    top: 70%;
    left: 20%;
    background-color: var(--main-Color);
    z-index: -1;
}
.Section .h3-categ::after{
    content: '';
    height: 1px;
    width: 80%;
    position: absolute;
    top: 70%;
    right:20%;
    background-color: var(--main-Color);
    z-index: -1;
}
.Section .h3-categ span{
    background-color: #fff;
    padding: 0 20px 0 20px;
}
.Section .wrraper-product{
    width: 95%;
    height: 410px;
    margin: 0 auto;
    overflow: hidden;
}
.produit{
    display: inline-block;
        width: 231px;
    height: 378px;
    margin: 5px;
}
.slick-track{
    display: flex;
    align-items: center;
}
/* .Section .next{

}
.Section .prev{

} */
.slick-prev .slick-arrow{
    display: none;
}
.slick-next .slick-arrow{
    display: none;
}
.btn-afficher-top{
    display: inline-block;
    margin-left: 43%;
    margin-top: 73px;
    padding: 10px 20px;
    background-color: var(--main-Color);
    border: none;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    color:black;
}
.btn-afficher{
    display: inline-block;
    margin: 20px auto;
    padding: 14px 45px;
    background-color: var(--main-Color);
    border: none;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    color:black;
    transition: all .5s;
    border: 1px solid var(--main-Color);
}
.btn-afficher:hover{
    background-color: transparent;
    border: 1px solid var(--main-Color);
    color: black;

}
.select-none{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-Color);
    height: 61px;
    font-weight: 600;
    margin-top: 20px;
}
#loading{
    text-align: center;
    background:url('loading.gif') ;
    height: 150px;
}
/************************* Carousel ************************************************************************/




/************************* fin Carousel ************************************************************************/

/************************* End Section */


/************************* Start Footer */
.Footer{
    grid-area: Footer;
    background-color: darkblue;

}

/************************* End Footer */

/**************************************************************************/
/************************* End Container ********************************/
/**************************************************************************/



/**************************************************************************/
/************************* Start responsive ********************************/
/**************************************************************************/

@media (max-width:767px){ /*Mobile tablet screen*/
    .container-Grid{
        display: grid;
        /* grid-gap: 10px; */
        grid-template-columns: 1fr 4fr;
        grid-template-areas:
        "NavBar NavBar"
        "Main Main"
        "Section Section"
        "Commander Commander"
        "Footer Footer"
        ;
    }
    .List-Navbar{
        display: none;
    }
    .SidBar{
        display: none;
    }
    .produit{
        width: 47%;
    }

    /*********************************Start page Card responsive********************************/
    .Card{
            flex-direction: column;
    }
    .Card-images{
        width: 100%;
        height: auto;
    }
    .Card-body{
        width: 100%;
        height: auto;
    }
    .Card-body .controls-qeuntity{
        flex-basis: 70px;
    }
    .controls-qeuntity .btn-buy{
        font-size: 14px;
        padding: 5px 15px;

    }
    .controls-qeuntity input[type="number"]{
        border-radius: 12px;
        width: 111px;
        padding: 5px 15px;
    }
    .Card-body .contactes{
        flex-basis: 71px;
    }
    .description .titel-description{
        margin: 31px auto 0px;
    }
    /*********************************End page Card responsive********************************/
    .command-body{
        flex-direction: column-reverse;
    }
    .command-body .your-command{
        width: 100%;
    }
    .command-body .form-command{
        width: 100%;
    }

    /*********************************Start page SidBar responsive********************************/

    /*********************************End page SidBar responsive********************************/




    /*********************************Start page Main responsive********************************/

    /*********************************End page Main responsive********************************/




    /*********************************Start page Section responsive********************************/


    /*********************************End page Section responsive********************************/
}
@media (min-width:768px){/*Small screen*/

    .container-Grid{

        display: grid;
        /* grid-gap: 10px; */
        grid-template-columns: 1fr 4fr;
        grid-template-areas:
        "NavBar NavBar"
        "Main Main"
        "Section Section"
        "Commander Commander"
        "Footer Footer"
        ;
    }
    
    /*********************************Start page SidBar responsive********************************/

    .SidBar{
        display: none;
    }
    .produit{
        width: 32%;
    }
    .controls-qeuntity input[type="number"]{
        width: 122px; 
    }
    .controls-qeuntity input[type="number"]:focus{
        outline: none;
    }
    /*********************************End page SidBar responsive********************************/
    .command-body{
        flex-direction: column-reverse;
    }
    .command-body .your-command{
        width: 100%;
    }
    .command-body .form-command{
        width: 100%;
    }



    /*********************************Start page Main responsive********************************/

    /*********************************End page Main responsive********************************/




    /*********************************Start page Section responsive********************************/

    /*********************************End page Section responsive********************************/

}



@media (min-width:929px){ /*Mediem screen*/
    /*********************************Start page SidBar responsive********************************/

    .container-Grid{

        display: grid;
        /* grid-gap: 10px; */
        grid-template-columns: 1fr 4fr;
        grid-template-areas:
        "NavBar NavBar"
        "Main Main"
        "Section Section"
        "Commander Commander"
        "Footer Footer"
        ;
    }
.produit{
    width: 23%;
}

.command-body{
    flex-direction: row;
}
.command-body .your-command{
    width: 40%;
}
.command-body .form-command{
    width: 60%;
}

    /*********************************End page SidBar responsive********************************/
}

@media (min-width:1200px){/*Larg screen*/

.container-Grid{

    display: grid;
    /* grid-gap: 10px; */
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
    "NavBar NavBar"
    "SidBar Main"
    "SidBar Main"
    "SidBar Section"
    "Commander Commander"
    "Footer Footer"
    ;
}
.SidBar{
    display: block;
}

    /*********************************Start page SidBar responsive********************************/
.produit{
    width: 19%;
}
    /*********************************End page SidBar responsive********************************/
    .command-body{
        flex-direction: row;
    }
    .command-body .your-command{
        width: 40%;
    }
    .command-body .form-command{
        width: 60%;
    }

    /*********************************Start page Main responsive********************************/

    /*********************************End page Main responsive********************************/
}

